<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="ko-site-heading" jhiTranslate="klinopsApp.site.home.createOrEditLabel">Create or edit a Site</h2>
            <div>
                <ko-alert-error></ko-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klinopsApp.site.siteName" for="field_siteName" [ngbTooltip]="'klinopsApp.site.help.siteName' | translate">Site Name</label>
                    <input type="text" class="form-control" name="siteName" id="field_siteName"
                           formControlName="siteName"/>
                    <div *ngIf="editForm.get('siteName').invalid && (editForm.get('siteName').dirty || editForm.get('siteName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('siteName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klinopsApp.site.institution" for="field_institution" [ngbTooltip]="'klinopsApp.site.help.institution' | translate">Institution</label>
                    <input type="text" class="form-control" name="institution" id="field_institution"
                           formControlName="institution"/>
                    <div *ngIf="editForm.get('institution').invalid && (editForm.get('institution').dirty || editForm.get('institution').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('institution').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klinopsApp.site.streetAddress" for="field_streetAddress" [ngbTooltip]="'klinopsApp.site.help.streetAddress' | translate">Street Address</label>
                    <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                           formControlName="streetAddress"/>
                    <div *ngIf="editForm.get('streetAddress').invalid && (editForm.get('streetAddress').dirty || editForm.get('streetAddress').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('streetAddress').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klinopsApp.site.city" for="field_city" [ngbTooltip]="'klinopsApp.site.help.city' | translate">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                    <div *ngIf="editForm.get('city').invalid && (editForm.get('city').dirty || editForm.get('city').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('city').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klinopsApp.site.state" for="field_state" [ngbTooltip]="'klinopsApp.site.help.state' | translate">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klinopsApp.site.zip" for="field_zip" [ngbTooltip]="'klinopsApp.site.help.zip' | translate">Zip</label>
                    <input type="text" class="form-control" name="zip" id="field_zip"
                           formControlName="zip"/>
                    <div *ngIf="editForm.get('zip').invalid && (editForm.get('zip').dirty || editForm.get('zip').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('zip').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="klinopsApp.site.country" for="field_country" [ngbTooltip]="'klinopsApp.site.help.country' | translate">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                           formControlName="country"/>
                    <div *ngIf="editForm.get('country').invalid && (editForm.get('country').dirty || editForm.get('country').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('country').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
