<div>
    <h2 id="page-heading">
        <span jhiTranslate="klinopsApp.studyMilestone.home.title">Study Milestones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-study-milestone" [routerLink]="['/study-milestone/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="klinopsApp.studyMilestone.home.createLabel">
            Create a new Study Milestone
            </span>
        </button>
    </h2>
    <ko-alert></ko-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="studyMilestones?.length === 0">
        <span jhiTranslate="klinopsApp.studyMilestone.home.notFound">No studyMilestones found</span>
    </div>
    <div class="table-responsive" *ngIf="studyMilestones?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mileStoneName"><span jhiTranslate="klinopsApp.studyMilestone.mileStoneName">Mile Stone Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mileStoneType"><span jhiTranslate="klinopsApp.studyMilestone.mileStoneType">Mile Stone Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="projectedCompletionDate"><span jhiTranslate="klinopsApp.studyMilestone.projectedCompletionDate">Projected Completion Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="actualCompletionDate"><span jhiTranslate="klinopsApp.studyMilestone.actualCompletionDate">Actual Completion Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="study.studyIdentifier"><span jhiTranslate="klinopsApp.studyMilestone.study">Study</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studyMilestone of studyMilestones ;trackBy: trackId">
                <td><a [routerLink]="['/study-milestone', studyMilestone.id, 'view' ]">{{studyMilestone.id}}</a></td>
                <td>{{studyMilestone.mileStoneName}}</td>
                <td>{{studyMilestone.mileStoneType}}</td>
                <td>{{studyMilestone.projectedCompletionDate | date:'mediumDate'}}</td>
                <td>{{studyMilestone.actualCompletionDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="studyMilestone.study">
                        <a [routerLink]="['/clinical-study', studyMilestone.study?.id, 'view' ]" >{{studyMilestone.study?.studyIdentifier}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/study-milestone', studyMilestone.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/study-milestone', studyMilestone.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/study-milestone', { outlets: { popup: studyMilestone.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="studyMilestones?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
