<div>
    <h2 id="page-heading">
        <span jhiTranslate="klinopsApp.studyProduct.home.title">Study Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-study-product" [routerLink]="['/study-product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="klinopsApp.studyProduct.home.createLabel">
            Create a new Study Product
            </span>
        </button>
    </h2>
    <ko-alert></ko-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="studyProducts?.length === 0">
        <span jhiTranslate="klinopsApp.studyProduct.home.notFound">No studyProducts found</span>
    </div>
    <div class="table-responsive" *ngIf="studyProducts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productName"><span jhiTranslate="klinopsApp.studyProduct.productName">Product Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doseRange"><span jhiTranslate="klinopsApp.studyProduct.doseRange">Dose Range</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="daysOfExposure"><span jhiTranslate="klinopsApp.studyProduct.daysOfExposure">Days Of Exposure</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formulation"><span jhiTranslate="klinopsApp.studyProduct.formulation">Formulation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="study.studyIdentifier"><span jhiTranslate="klinopsApp.studyProduct.study">Study</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studyProduct of studyProducts ;trackBy: trackId">
                <td><a [routerLink]="['/study-product', studyProduct.id, 'view' ]">{{studyProduct.id}}</a></td>
                <td>{{studyProduct.productName}}</td>
                <td>{{studyProduct.doseRange}}</td>
                <td>{{studyProduct.daysOfExposure}}</td>
                <td>{{studyProduct.formulation}}</td>
                <td>
                    <div *ngIf="studyProduct.study">
                        <a [routerLink]="['/clinical-study', studyProduct.study?.id, 'view' ]" >{{studyProduct.study?.studyIdentifier}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/study-product', studyProduct.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/study-product', studyProduct.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/study-product', { outlets: { popup: studyProduct.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="studyProducts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
